.hello{
    color: rgba(252, 237, 237, 0.836);
    opacity: 0;
    animation: headtex 3s;
    animation-delay: 1s;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 46%;

}


.name{
    color: rgba(252, 237, 237, 0.836);
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    font-size: 33px;
    text-indent: 5px;
    animation: headtex 5s;
    animation-delay: 5s;
  }
.local{
    color: rgba(252, 237, 237, 0.836);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 30px;
    animation: headtex 5s;
    animation-delay: 14s;
}
.meet{
    color: rgba(252, 237, 237, 0.836);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 38%;
    font-size:30px;
    text-indent: 5px;
    animation: headtex 3s;
    animation-delay: 10s;
}
.binh{
    max-width: 380px;
    height: auto;
    filter: drop-shadow(0 0 2px);
    opacity: 0;
    position: absolute;
    top: 53%;
    left: 36%;
    background-color: rgba(49,49,49);
    animation: headtex 6s;
    animation-delay: 7s;

}
.binh2{
    max-width: 280px;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 8%;
    left: 40%;
    animation: headtex 3s;
    animation-delay: 13s;
    animation-fill-mode: forwards;
    
}
.ck{
    color: rgba(252, 237, 237, 0.836);
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 25%;
    font-size: 26px;
    animation: deanh 10s;
    animation-delay: 20s;
}

.introduce{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 45%;
    left: 27%;
    font-size: 31px;
    animation: headtex 7s;
    animation-delay: 31s;
}
.introduce2{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 45%;
    left: 28%;
    font-size: 31px;
    animation: headtex 5s;
    animation-delay: 39s;
}
.py{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 42%;
    left: 28%;
    font-size: 30px;
    inset-inline: 1;
    animation: headtex 8s;
    animation-delay: 45s;
}
.people{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 45%;
    left: 20%;
    font-size: 30px;
    inset-inline: 3;
    animation: headtex 9s;
    animation-delay: 53s;
}

.cs{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 47%;
    left: 26%;
    font-size: 30px;
    inset-inline: 3;
    animation: headtex 9s;
    animation-delay: 63s;
}


.fre{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 28%;
    font-size: 33px;
    inset-inline: 3;
    animation: headtex 5s;
    animation-delay: 73s;
}

.skill{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 30%;
    font-size: 33px;
    inset-inline: 3;
    animation: headtex 5s;
    animation-delay: 79s;
}
.nskill{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 47%;
    left: 10%;
    animation: deanh 11s;
    animation-delay: 85s;
}
.nskill:before{
    background-color: rgba(252, 237, 237, 0.836);
    content:'';
    display: block;
    width: 380px;
    height: 3px;
}
.sskill{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: justify;
    opacity: 0;
    top: 46%;
    left: 45%;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 50px;
    animation: deanh 10s;
    animation-delay: 86s;
}
.sskill2{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: justify;
    opacity: 0;
    top: 46%;
    left: 65%;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 50px;
    animation: deanh 10s;
    animation-delay: 86s;
}

.muctieu{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 47%;
    left: 10%;
    animation: deanh 10s;
    animation-delay: 97s;
}
.muctieu:before{
    background-color: rgba(252, 237, 237, 0.836);
    content:'';
    display: block;
    width: 405px;
    height: 3px;
}
.ngan{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: justify;
    width: 500px;
    opacity: 0;
    font-weight: 600;
    top: 50%;
    left: 50%;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    border-spacing: 2px;
    animation: deanh 10s;
    animation-delay: 108s;
}

.camon{
    color: rgba(252, 237, 237, 0.836);
    opacity: 0;
    animation: headtex 3s;
    animation-delay: 119s;
    text-align: center;
    position: absolute;
    font-weight: 600;
    width: 600px;
    top: 40%;
    left: 29%;
    animation-fill-mode: forwards;
}
.thongtin{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 55%;
    left: 15%;
    animation: deanh 11s;
    animation-delay: 120s;
    animation-fill-mode: forwards;
}
.thongtin:before{
    background-color: rgba(252, 237, 237, 0.836);
    content:'';
    display: block;
    width: 256px;
    height: 3px;
}

.ten{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    opacity: 0;
    top: 56%;
    left: 50%;
    font-size: 30px;
    animation: headtex 5s;
    animation-delay: 121s;
    animation-fill-mode: forwards;
}

.phone{
    color:rgba(252, 237, 237, 0.836);
    position: absolute;
    opacity: 0;
    top: 63%;
    left: 52%;
    font-size: 28px;
    animation: headtex 5s;
    animation-delay: 122s;
    animation-fill-mode: forwards;
}

.pho{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    opacity: 0;
    top: 68%;
    left: 50%;
    font-size: 28px;
    animation: headtex 5s;
    animation-delay: 122s;
    animation-fill-mode: forwards;
}
.mail{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    opacity: 0;
    top: 69%;
    left: 52%;
    font-size: 28px;
    animation: headtex 5s;
    animation-delay: 123s;
    animation-fill-mode: forwards;
}

.gm{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    opacity: 0;
    top: 75%;
    left: 50%;
    font-size: 28px;
    animation: headtex 5s;
    animation-delay: 123s;
    animation-fill-mode: forwards;
}


.sanpham{
    color: rgba(252, 237, 237, 0.836);
    position: absolute;
    text-align: center;
    opacity: 0;
    font-weight: 600;
    top: 86%;
    left: 32%;
    font-size: 23px;
    animation: deanh 11s;
    animation-delay: 124s;
    animation-fill-mode: forwards;
}

@keyframes headtex {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes deanh {
    0%{
        opacity: 0;
    }
    28%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    
}

@media only screen and (min-width: 320px) and (max-width: 860px) {}
@media all and (max-width: 320px) {}
@media all and (max-width: 480px) {}
@media all and (max-width: 600px) {}
@media all and (max-width: 800px) {}
@media all and (max-width: 769px) {}
@media all and (max-width: 1024px) {}
@media all and (max-width: 1025px) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}




